// Text
$main-font-family: 'Roboto';

$bold-font-weight:700;
$medium-font-weight:500;
$regular-font-weight:400;

$main-font-size:18px;
$secondary-font-size:14px;

$main-color:#333333;
$secondary-color: #ABABAB;

$main-background-color: #ffffff;
$secondary-background-color:#F8F8F8;